body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #888888;
  background-color: #ffffff;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  background-color: #ffffff;
  text-align: center;
}

.header {
  padding-top: 88px;
}

.header__menu {
  margin-top: 60px;
  border-top: 2px solid #c4c4c4;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__list-item {
  width: 300px;
  border-left: 2px solid #c4c4c4;
}

.header__list-item:last-child {
  border-right: 2px solid #c4c4c4;
}

.header__link {
  display: block;
  line-height: 28px;
  padding-top: 34px;
  padding-bottom: 38px;
  text-align: center;
  color: #888888;
}

.header__link:hover {
  background-color: #020202;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__link_active {
  background-color: #020202;
  color: #ffffff;
}

.slider {
  position: relative;
}

.slider__item {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  background-color: transparent;
}

.slider .slick-arrow.slick-prev {
  left: 20px;
}

.slider .slick-arrow.slick-next {
  right: 20px;
}

.search__description, .search__entry, .search__btn {
  display: block;
}

.search {
  margin-top: 60px;
  margin-bottom: 70px;
}

.search__inner {
  padding-left: 126px;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 156px;
  margin-right: 69px;
}

.search__entry {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
  width: 431px;
  border: 2px solid #c4c4c4;
  padding: 21px 13px;
}

.search__entry::-webkit-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.search__entry:-ms-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.search__entry::-ms-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.search__entry::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.search__entry::-webkit-search-decoration, .search__entry::-webkit-search-cancel-button, .search__entry::-webkit-search-results-button, .search__entry::-webkit-search-results-decoration {
  display: none;
}

.search__btn {
  text-align: left;
  padding-left: 9px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  width: 121px;
  background: #c4c4c4;
}

.search__btn::before {
  content: "";
  width: 18px;
  height: 18px;
  display: inline-block;
  background-image: url("../images/button.svg");
  margin-right: 9px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.search__btn:hover::before {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.examples__title {
  text-align: center;
  font-family: "PT Serif", serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  padding: 18px 0;
  margin-bottom: 100px;
}

.examples__inner {
  padding: 0 5px;
}

.examples__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.examples__item {
  width: 280px;
  text-align: center;
}

.examples__image {
  margin-bottom: 30px;
}

.examples__description {
  margin: 0 auto;
  width: 195px;
  margin-bottom: 30px;
}

.examples__link {
  display: inline-block;
  font-size: 18px;
  color: #ffffff;
  background-color: #c4c4c4;
  padding: 13px 46px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.examples__link:hover {
  background-color: #020202;
}

.advantages {
  margin-top: 200px;
}

.advantages__inner-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.advantages__item {
  max-width: 470px;
  margin-right: 113px;
}

.advantages__image {
  margin-right: 33px;
}

.advantages__title {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.advantages__description {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  color: #000000;
}

.advantages__link {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
  text-decoration: underline;
  position: relative;
  padding-left: 36px;
}

.advantages__link::before {
  content: "";
  background-image: url("../images/advantages-arrow.png");
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.modern {
  margin-top: 109px;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 68px;
}

.modern__inner {
  text-align: right;
}

.modern__title {
  text-align: right;
  width: 420px;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  margin: 0 0 15px auto;
}

.modern__link {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  background: #020202;
  padding: 16px 18px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.modern__link:hover {
  background-color: #c4c4c4;
}

.about {
  padding-top: 100px;
  background-color: #000000;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.managers {
  max-width: 297px;
}

.managers__contacts {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.managers__contact {
  width: 120px;
}

.managers__info {
  margin: 22px auto 43px;
  width: 50px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
}

.managers__link {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  padding: 16px 21px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.managers__link:hover {
  background-color: wheat;
}

.title {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}

.blog {
  min-width: 411px;
}

.blog__title {
  margin-bottom: 42px;
}

.blog__list-item {
  margin-bottom: 23px;
}

.blog__list-item:last-child {
  margin-bottom: 0;
}

.blog__link {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding-left: 67px;
  position: relative;
}

.blog__link::before {
  content: "";
  background-image: url("../images/blog-arrow.png");
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.reviews {
  max-width: 300px;
}

.reviews__description {
  margin: 22px 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.reviews__title {
  margin-bottom: 48px;
}

.reviews__link {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  padding: 16px 29px;
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.reviews__link:hover {
  background-color: wheat;
}

.footer {
  padding-top: 202px;
  background-color: #000000;
}

.footer__inner {
  padding-bottom: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__menu {
  width: 170px;
  margin-right: 130px;
}

.footer__list-link {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.footer__form-question {
  margin-top: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__description {
  margin-right: 10px;
  width: 82px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #888888;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.footer__entry {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
  border: 2px solid #c4c4c4;
  padding: 24px 15px 18px;
  width: 511px;
}

.footer__entry::-webkit-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.footer__entry:-ms-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.footer__entry::-ms-input-placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.footer__entry::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.footer__btn {
  width: 150px;
  background: #c4c4c4;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding: 26px 33px 26px 37px;
}

.footer__logo {
  padding-bottom: 22px;
}
